.banner-we {
    position: relative;
    background: var(--unnamed-color-5ca28a) 0% 0% no-repeat padding-box;
    background-image: url(../../assets/Grupo\ 320.png);
    height: 450px;
}

.banner-we #we {
    position: relative;
    height: 299px;
    top: 100px;
    float: left;
}

.banner-we h1 {
    position: absolute;
    top: 30px;
    left: 110px;
    font-size: 50px;
    text-align: left;
    font-family: 'Pathway Gothic One', sans-serif;
    color: #FFFFFF;;
}

.banner-we p {
    position: absolute;
    text-align: left;
    width: 640px;
    line-height: 35px;
    font-size: 20px;
    font-family: 'Rubik';
    color: #FFFFFFD9;
    letter-spacing: 1px;
    left: 110px;
    top: 130px;
}