@import url('https://fonts.googleapis.com/css2?family=Gothic+A1&family=Nanum+Gothic&family=Pathway+Gothic+One&family=Poppins&family=Rubik:wght@300;400&display=swap');

.goal {
    position: relative;
    height: 560px;
}

.goal-box {
    position: absolute;
    top: 30px;
    left: 30px;
    width: 560px;
}

.goal-box img {
    width: 100%;
}

/* ----------------------------------------------------------------- */

.goal-text {
    position: absolute;
    right: 110px;
    width: 600px;
    margin-top: 18px;
}

#text h1 {
    color: #284761;
    font-size: 39px;
    font-family: 'Pathway Gothic One', sans-serif;
}

#text p {
    font-family: 'Rubik';
    letter-spacing: 0px;
    color: #071428;
    font-size: 21px;
    line-height: 34px;
}