.copy-right {
    position: relative;
    background: #5CA28A 0% 0% no-repeat padding-box;
    height: 40px;
    top: 51px;
    text-align: center;
    padding-top: 20px;
    color: #FFFFFF99;
    font-size: 14px;
}